@model Mirk.ViewModels.DetailViewModel

@{
    ViewBag.Title = "Modify Details";
}

@if (Model.currUser.Id == Model.User.Id)
{

    using (Html.BeginForm("ModifyDetails", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="fullcenter col-md-6 default_container ">
            <div class="text-default-color container">

                <h1 class="text-title-green"><b>&nbsp;&nbsp;@Model.User.Username</b></h1>
                <hr />
                <br />
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group row">
                            <label class="col-md-4 text-title-green right">First Name</label>
                            <div class="col-md-8 text-default-color">
                                @Html.EditorFor(model => model.User.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.User.Firstname, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 text-title-green right">Last Name</label>
                            <div class="col-md-8 text-default-color">
                                @Html.EditorFor(model => model.User.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.User.Lastname, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 text-title-green right">Email</label>
                            <div class="col-md-8 text-default-color">
                                @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 text-title-green right">Phone</label>
                            <div class="col-md-8 text-default-color">
                                @Html.EditorFor(model => model.User.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.User.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 text-title-green right">Address</label>
                            <div class="col-md-8 text-default-color">
                                @Html.EditorFor(model => model.User.Adress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.User.Adress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Profile Picture", htmlAttributes: new { @class = "text-title-green col-md-4 right" })
                            <div class="col-md-8">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-default">
                                            <input type="file" style="display: none;" name="file" id="file" accept=".png, .jpg, .bmp, .jpeg"> Upload
                                        </span>
                                    </label>
                                    @Html.EditorFor(model => model.User.Photo, new { htmlAttributes = new { @class = "form-control inline-block", @readonly = "true", @id = "nomProp", @style = "width:210px;" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.User.Photo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 ">
                        <br />
                        <img class="pimg" src="@Model.url" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="text-center">
                        <input type="submit" value="Done" class="btn btn-primary fullwidth" />
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/functions")
}